.account-card-container {
  display: flex;
  justify-content: center;

  mat-card {
      margin: 8px;
      width: 400px;
  }
}

.full-width {
  width: 100%;
}

.has-error {
  color: #D32F2F;
}

mat-spinner {
  margin: auto;
}