<div class="account-card-container">
    <mat-card>
        <mat-toolbar color="primary" i18n>Reset password</mat-toolbar>
        <mat-card-content>
            <form *ngIf="!success" autocomplete="off">
                <div class="pad">
                    <mat-spinner *ngIf="email.disabled"></mat-spinner>
                    <app-message *ngIf="errorMessage" color="warn" icon="error" class="push">{{errorMessage}}</app-message>
                    <mat-form-field class="full-width" appearance="fill" floatLabel="always">
                        <input #emailInput matInput [formControl]="email" type="email"  placeholder="Email" i18n-placeholder>
                        <mat-error *ngIf="email.errors" i18n>Enter correct email address</mat-error>
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" class="full-width" [disabled]="!email.valid || email.disabled"
                    (click)="resetPassword()" i18n>Reset password</button>
            </form>
            <app-message *ngIf="success" label="Confirmation code is sent to {{email.value}}." i18n-label
                color="primary" icon="info"
                i18n>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</app-message>
        </mat-card-content>
    </mat-card>

</div>