<div class="pad-xl">
  <h1 class="headline" i18n>WebPlanner is built using advanced applications and components</h1>
  <mat-nav-list>
    <a mat-list-item href="http://c3dlabs.com" target="_blank">
      <h3 matLine class="subheading-2">C3D Toolkit</h3>
      <p matLine>Software development kit responsible for constructing and editing geometric models.</p>
    </a>
    <a mat-list-item href="https://angular.io" target="_blank">
      <h3 matLine class="subheading-2">Angular</h3>
      <p matLine i18n>Web application platform</p>
    </a>
    <a mat-list-item href="http://dot.net" target="_blank">
      <h3 matLine class="subheading-2">ASP.NET Core</h3>
      <p matLine>Web framework</p>
    </a>
    <a mat-list-item href="https://www.postgresql.org" target="_blank">
      <h3 matLine class="subheading-2">PostgreSQL</h3>
      <p matLine>Most advanced open source database</p>
    </a>
  </mat-nav-list>
</div>