<div class="pad-xl">
  <h1 class="headline" i18n>Features & Benefits</h1>

  <section>
    <h2 class="mat-h2" i18n>Truly online application</h2>
    <ul>
      <li i18n>Works in any modern browser without extra plugins, thanks to HTML5 & WebGL</li>
      <li i18n>Designed to work on any internet-connected device. Can be used on PCs, tablets, and mobile phones</li>
      <li i18n>Can be run on Windows, Linux, Mac, Android, and iPhone.. anywhere!</li>
      <li i18n>Supports realtime collaboration. Any changes to projects and catalogs are immediately visible to all application users</li>
    </ul>
  </section>

  <section>
    <h2 class="mat-h2" i18n>Integrated catalog manager</h2>
    <ul>
      <li i18n>Import your models from multitude of modeling software files (KOMPAS(c3d), 3DS, OBJ, DAE, STL, STEP, IGES, VRML(wrl), Parasolid(x_t, x_b), ACIS(sat), JT models, Blender(blend))</li>
      <li i18n>Import custom windows & doors as simple as any other models</li>
      <li i18n>Group models in folders</li>
      <li i18n>Easy texture covering using drag&drop with automatic conversion to suitable size</li>
      <li i18n>You can configure multiple variants of the same model with different materials and prices using properties</li>
      <li i18n>Support animation in models that can be used for doors, drawers, sofas, etc</li>
    </ul>
  </section>

  <section>
    <h2 class="mat-h2" i18n>Powerful floor plan editor</h2>
    <ul>
      <li i18n>Interactive WYSIWYG editor</li>
      <li i18n>Great support for multiroom appartment modeling</li>
      <li i18n>Works consistently on 2D and 3D views</li>
      <li i18n>Smart and exact editing of any dimension</li>
      <li i18n>Import custom doors and windows from any 3D format</li>
      <li i18n>Models real-world appartments with non-orthogonal walls and different wall thickness</li>
      <li i18n>Supports multistorey house modeling</li>
    </ul>
  </section>

  <section>
    <h2 class="mat-h2" i18n>High quality WebGL visualization</h2>
    <ul>
      <li i18n>High quality shadows and reflections in realtime</li>
      <li i18n>Flexible material configuration</li>
      <li i18n>Drag&drop textures from local computer</li>
      <li i18n>Supports latest WebGL2 in modern browsers</li>
      <li i18n>Various shaded and wireframe visualization styles</li>
      <li i18n>Hyperlink generation from camera position</li>
    </ul>
  </section>

  <section>
    <h2 class="mat-h2" i18n>Furniture placement</h2>
    <ul>
      <li i18n>Intuitive drag&drop of models</li>
      <li i18n>Collision detection prevents penetration of models into each other</li>
      <li i18n>Supports smart model resizing</li>
      <li i18n>Display accurate distances to nearby objects taking into account room shape</li>
    </ul>
  </section>
</div>