<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="list" fxLayout="column">
  <div *ngIf="group" class="push-sm" fxFlex="none">
    <button *ngIf="group.groupId" mat-button (click)="selectGroup(group.groupId)" matTooltip="Up" i18n-matTooltip
      (dragover)="dragOver($event)" (drop)="materialMove($event, group.groupId)">
      <mat-icon class="md-24">reply</mat-icon>
      <span>{{group.name}}</span>
    </button>
    <button *ngIf="!group.readOnly" mat-icon-button (click)="addNewMaterial()" matTooltip="Add material" i18n-matTooltip>
      <mat-icon class="md-24">create</mat-icon>
    </button>
    <button *ngIf="!group.readOnly" mat-icon-button (click)="addGroup()" matTooltip="Add group" i18n-matTooltip>
      <mat-icon class="md-24">create_new_folder</mat-icon>
    </button>
  </div>
  <mat-nav-list fxFlex>
    <mat-list-item *ngFor="let g of groups" (click)="selectGroup(g.id)" class="material-item"
      (dragstart)="dragStart($event, g, false)" draggable="!group.readOnly" (dragover)="dragOver($event)" (drop)="materialMove($event, g.id)">
      <img class="model-image" src="/assets/icon/folder.svg">
      <span class="flex-auto push-left-xs">{{g.name}}</span>
      <button *ngIf="!group.readOnly" mat-icon-button (click)="removeMaterialDialog(g, $event)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider *ngIf="groups.length"></mat-divider>
    <mat-list-item *ngFor="let m of materials" (click)="selectMaterial(m)" class="material-item" (drop)="materialAssign($event, m)" (dragover)="dragOver($event)">
      <img class="material-avatar" mat-list-avatar [src]="m | thumbnail" (fileDrop)="uploadTexture(m, $event)" (dragstart)="dragStart($event, m, true)">
      <span class="flex-auto push-left-xs" (dragstart)="dragStart($event, m, false)" draggable="!group.readOnly">{{m.name}}</span>
      <button *ngIf="!group.readOnly" mat-icon-button (click)="removeMaterialDialog(m, $event)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>

<app-material *ngIf="material" [material]="material" [readOnly]="group.readOnly" fxFlex="75%">
</app-material>