<div class="pad mat-typography" [style.min-height.vh]="60">
  <h1 i18n class="pad-top">Articles</h1>
  <mat-nav-list>
    <a mat-list-item href="http://isicad.ru/ru/articles.php?article_num=19603" target="_blank">
      <h3 matLine class="subheading-2" i18n>Beta release</h3>
      <p matLine i18n>Newsletter for release (in Russian)</p>
    </a>
    <a mat-list-item href="https://docs.google.com/document/d/1XKSmjvx90WjhqMpA54s3TkZ_2mGAqzkovUdEvy5ukng/edit?usp=sharing" target="_blank" i18n-href>
      <h3 matLine class="subheading-2" i18n>Through rough ways to the clouds: cloud service for 3D and C3D and WebGL-based interior design</h3>
      <p matLine i18n>Architecture overview and insight in project development.</p>
    </a>
  </mat-nav-list>
</div>