<mat-toolbar class="content-toolbar"><span i18n>Set new password</span>
    <span fxFlex></span>
    <a mat-button routerLink="/account" i18n>BACK TO PROFILE</a>
</mat-toolbar>

<div class="row">
    <div class="col">
        <form (ngSubmit)="changepassw()" [formGroup]="passwordForm" *ngIf="!succeeded">
            <div class="form-group">
                <label for="password" i18n>New password</label>
                <mat-form-field>
                    <input matInput [type]="typePassword" formControlName="password" id="password" class="form-control">
                    <span style="cursor: pointer" matSuffix (click)="lightPassword()">
                        <mat-icon>{{lockPassword}}</mat-icon>
                    </span>
                </mat-form-field>
            </div>
            <div class="form-group">
                <label for="confirm" i18n>Confirm new password</label>
                <mat-form-field class="form-control" id="confirm">
                    <input matInput type="password" formControlName="confirm">
                    <span style="cursor: pointer" *ngIf="passwordCtrl.dirty &&
                (passwordCtrl.hasError('required') ||
                passwordCtrl.hasError('minlength') ||
                passwordCtrl.hasError('validatorError') ||
                 (confirmCtrl.dirty && passwordForm.hasError('matchingError')))"
                        matSuffix>
                        <mat-icon>{{errorIcon}}</mat-icon>
                    </span>
                </mat-form-field>
            </div>
            <div id="password-matching-error" *ngIf="confirmCtrl.dirty && passwordForm.hasError('matchingError') && !passwordCtrl.hasError('minlength')">
                <span class="hintText error" i18n>Entered passwords do not match</span>
            </div>
            <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('minlength')">
                <span class="hintText error" i18n>Your password should contain at least 6 characters</span>
            </div>
            <app-message *ngIf="errorMessage" label="Error" i18n-label color="warn" icon="error">{{errorMessage}}</app-message>
            <div class="btn">
                <button mat-raised-button color="primary" type="submit" [disabled]="!passwordForm.valid" i18n>Update password</button>
            </div>
        </form>
        <app-message *ngIf="succeeded" label="Info" i18n-label color="primary"
            icon="info">Password successfully changed! You can login now!</app-message>
    </div>
</div>