<div class="release">Release info: {{branch}}-{{commit}}</div>
<div class="version-row">
  <span class="version">Beta.2 - January 8, 2019</span>
  <ul>
    <li>Composite model drag&drop designer</li>
    <li>Parametric modeling</li>
    <li>High quality 32X antialiasing in visualization</li>
    <li>Export to 3DS, OBJ, DAE, and GLTF</li>
    <li>UI customization via integrated CSS editor</li>
    <li>Planner customization with JavaScript plugins</li>
    <li>Integrated email editor</li>
    <li>Project templates</li>
    <li>Anchoring models to each other</li>
    <li>WebP texture format support</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Beta.1 - August 13, 2018</span>
  <ul>
    <li>Add context action bar</li>
    <li>New wallpaper tool</li>
    <li>Export projects to B3D and C3D</li>
    <li>Calculate price per material length/area/volume</li>
    <li>Project versions & backups</li>
    <li>Multiple layers for different elements</li>
    <li>New object move algorithm</li>
    <li>Catalog synchronization</li>
    <li>Complex objects animations</li>
    <li>New material color selector</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Beta.0 - December 13, 2017</span>
  <ul>
    <li>New popup property editor in planner</li>
    <li>Move and rotate objects dialogs</li>
    <li>3D navigation with keyboard</li>
    <li>Smart model replacement</li>
    <li>Bumpmap generation from active texture</li>
    <li>Categories in material editor</li>
    <li>Improve b3d & 3ds import</li>
    <li>Model history viewer</li>
    <li>New sounds for animations</li>
    <li>Multiple bugfixes and ui improvements</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.17 - October 8, 2017</span>
  <ul>
    <li>Add shadows to light source options that enables high-quality soft shadows in realtime</li>
    <li>Introduce reflections in materials to visualize reflective surfaces like mirrors</li>
    <li>Add relief option to material for accurate visualization of surface roughness</li>
    <li>Implement adaptive visualization path that automatically adjusts rendering perfomance</li>
    <li>Add options to configure additinal head light source (it illuminates the scene from viewer position)</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.16 - September 10, 2017</span>
  <ul>
    <li>Incremental model loading (to improve UX and provides full utilization of CPU and network bandwidth)</li>
    <li>Symmetry operation on models (especially useful for doors and windows)</li>
    <li>Add backup to Amazon S3-compatible services</li>
    <li>Implement outline selection of objects with glow effect</li>
    <li>Support light glow in WebGL1 mode</li>
    <li>Fix selection of animated items</li>
    <li>Fix timezone issues to correctly display last edit time</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.15 - August 13, 2017</span>
  <ul>
    <li>Redesigned catalog editor with subfolders support and group operations</li>
    <li>Implement import of 3DS, OBJ, and DAE models to catalogs with units conversion</li>
    <li>Support light visualization in browsers without WebGL2 support</li>
    <li>Rename materials in models and catalogs</li>
    <li>Drag&drop of custom icons to files and folders</li>
    <li>Enchance material editor with numerical inputs</li>
    <li>Improve camera link generation dialog</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.14 - Jule 23, 2017</span>
  <ul>
    <li>Initial internationalization support, add russian localization</li>
    <li>Implementation of sheduled backups</li>
    <li>Improve application loading speed and decrease size</li>
    <li>Fix drag&drop of textures on models</li>
    <li>Fix ui quircks</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.13 - Jule 5, 2017</span>
  <ul>
    <li>Improve partition walls modeling: display and edit dependent dimensions</li>
    <li>Constrain windows & doors positioning inside walls</li>
    <li>Display dynamic dimensions when adding new walls</li>
    <li>Implement auxiliary lines in floor planner (by clicking on middle mouse button on any line or wall)</li>
    <li>Improve position of room labels for non-convex rooms</li>
    <li>Add function to delete rooms that intelligently removes associated walls</li>
    <li>Redesign home page</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.12 - June 20, 2017</span>
  <ul>
    <li>Add functions to reset and change user password with email confirmation</li>
    <li>Improve UI for project creation and material selection</li>
    <li>Improve security using short-lived tokens with RSA digital signature over HTTPS</li>
    <li>Implement drag&drop of models (for desktop) in conjunction with click&move (for touch-based devices) UI</li>
    <li>Cleanup contours of walls to improve visual quality</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.11 - June 1, 2017</span>
  <ul>
    <li>Add total price computation for projects and display specification table</li>
    <li>Add setting price and SKU for models in catalogs</li>
    <li>Drag&drop latest model version if it is being edited by another user</li>
    <li>Redesign login and sign-up pages, add change password option</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.10 - May 23, 2017</span>
  <ul>
    <li>Add modeling of ceiling in plan editor</li>
    <li>Import of VRML, STL, IGES, and JT models to catalogs</li>
    <li>Improve visual quality and elminate artifacts on mobile devices</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.9 - May 10, 2017</span>
  <ul>
    <li>Brand new graphics visualization with quality lighting</li>
    <li>Implement special light emitting objects that you can move around</li>
    <li>Support latest WebGL2 API in modern browsers</li>
    <li>Fix authentication issues</li>
    <li>Enable skybox by default</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.8 - April 10, 2017</span>
  <ul>
    <li>New algorithm for floor creation improves plan quality</li>
    <li>Fix move of windows in copied floors</li>
    <li>Add action to exit from fullscreen mode</li>
    <li>Further reduce website size</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.7 - March 24, 2017</span>
  <ul>
    <li>Add project menu with actions to manage project properties and floors</li>
    <li>Redesign UI in commands</li>
    <li>Implement precise edition of free standing walls outside rooms</li>
    <li>Add file upload button to catalog UI for easy model uploading.</li>
    <li>Add prompt to open models once convertation finished</li>
    <li>Fix visual quircks in popup dialogs</li>
    <li>Fix xray mode rendering</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.6 - March 17, 2017</span>
  <ul>
    <li>Add navigator to quickly switch 3d views</li>
    <li>Implement fullscreen mode that allows editing without distraction</li>
    <li>Fix user interface quircks on tabs and hints</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.5 - February 10, 2017</span>
  <ul>
    <li>Major internal update to speed up fetching models from the server. It also fixes multiple issues with doors and windows
      movements</li>
    <li>Add option to clone shared projects to your workspace and work with them</li>
    <li>Speed up wireframe rendering</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.4 - January 13, 2017</span>
  <ul>
    <li>Add feature to zoom selected object</li>
    <li>Improve accessibility on phones and tablets</li>
    <li>Add shaded display mode without boundary lines</li>
    <li>Add option to disable snapping in floorplan using SHIFT key</li>
    <li>Save animations in hyperlinks which you can send to your friends</li>
    <li>Fix rendering artifacts and correctly handle device rotations</li>
    <li>Greatly decrease website size</li>
    <li>Display owner and last modified time in project view</li>
    <li>Implement seamless application update without hitting refresh button</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.3 - January 6, 2017</span>
  <ul>
    <li>Add tool to measure distance</li>
    <li>Greatly speed up website loading</li>
    <li>Display hints for active operations</li>
    <li>Improve accurate resizing of abreast walls</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.2 - December 29, 2016</span>
  <ul>
    <li>New wallpaper command</li>
    <li>Share links with current camera view with everybody</li>
    <li>Display names of undo and redo operations in hints</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.1 - December 22, 2016</span>
  <ul>
    <li>Implemented editing of wall baselines for accurate modeling of monolith constructions</li>
    <li>Catalog sharing</li>
    <li>Display smart sizes when user selects a wall</li>
  </ul>
</div>
<div class="version-row">
  <span class="version">Alpha.0 - December 10, 2016</span>
  <ul>
    <li>Initial version</li>
  </ul>
</div>