:host {
    padding: 16px;
}

.release {
    padding: 16px;
    position: absolute;
    right: 0px;
}

span.version {
    font-size: 1.25em;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.version-row {
    padding: 16px;
}