@import '~@angular/material/theming';

:host {
    @include mat-elevation(2);
    display: inline-block;
    position: relative;
    width: 256px;
    height: 256px;
    background-color: white;
    margin: 12px;
    cursor: pointer;
    overflow: hidden;
}

:host:hover {
    @include mat-elevation(5);
    span {
        background: lightskyblue;
    }
}

img {
    width: 100%;
}

span {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    padding: 4px;
    box-sizing: content-box;
    background: mintcream;
    overflow: hidden;
}
