@media (min-width: 600px) {
  :host {
    min-width: 600px;
    max-width: 800px;
  }
}
@media (max-width: 599px) {
  :host {
    min-width: 250px;
    max-width: 400px;
  }
}

:host {
  min-height: 540px;
  display: flex;
  flex-direction: column;
}
