<div fxLayout="row" fxLayoutAlign="center center">
    <img src="/assets/img/logo.png">
    <span class="mat-display-1 push-none pad-sm-left">WebPlanner</span>
</div>
<mat-divider class="push"></mat-divider>
<div fxLayout="column">
  <p class="mat-subheading-1" i18n>&copy; Copyright 2015 - 2019 Roman Kolesnikov. All rights reserved.</p>
  <div fxLayout="row">
    <a class="mat-subheading-1" href="https://www.wigwam3d.ru" target="_top">wigwam3d.ru</a>
    <span fxFlex></span>
    <a class="mat-subheading-1" href="mailto:info@wigwam3d.com" target="_top">info@wigwam3d.com</a>
  </div>
</div>
